<% if @user.present? && @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1> What is your Username? </h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :username %><br>
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password, params[:password] %>
  </p>
  <p>
     <%= label_tag :password_hint %><br>
     <%= password_field_tag :password_hint, params[:password_hint] %>
   </p>
  <p class="button">
    <%= submit_tag "authenticate" %>
  </p>
<% end %>