<%= form_for(@cert) do |f| %>
  <% if @cert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cert.errors.count, "error") %> prohibited this cert from being saved:</h2>

      <ul>
      <% @cert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  device code
  <%= text_field_tag "device_code" %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
